<div class="modal-header">
    <h4 class="modal-title pull-left"> {{ title }} </h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
  </div>
  <div class="modal-body">
      <div class="block-form">
          <img src="{{ data.watch.imgPath }}" alt="">
          <input type="text" [(ngModel)]="data.watch.title" placeholder="Title Watch">
          <input type="number" [(ngModel)]="data.watch.price" placeholder="Price Watch">
          <input type="file" (change)="onSelectFileOnEdit($event)">
      </div>
  </div>