<footer class="footer">
  <div class="my-container">
    <div class="row">
      <div class="col md-4">
        <div class="left">
          <img src="../../../../assets/images/logo-footer.png" alt="">
          <span>KnightWatch</span>
        </div>
      </div>
      <div class="col md-4">
        <div class="center">
          <span>Copyright © All Rights Reserved</span>
        </div>
      </div>
      <div class="col md-4">
        <div class="right">
          <a href="#">Home</a>
          <a href="#">Contact Us</a>
        </div>
      </div>
    </div>
  </div>
</footer>